.question-title {
    display: block;
    text-align: justify;
    font-size: 14px;
    margin: 1.5rem auto 2rem;
  }

  .text{
    white-space: pre-line;
    text-align: justify;
    font-size: 10px;
    text-transform: uppercase
  }