<mat-icon class="close-btn" color='primary' (click)='close()'>cancel</mat-icon>
<div class="title">
  <h4>TERMO</h4>
</div>

<div class="text">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type</p>
</div>

<hr class="dashed" />

<div class="footer">
  <mat-checkbox class="accept" [(ngModel)]='accept'>Li e aceito os termos e condições acima</mat-checkbox>
  <button mat-button class="confirm" [disabled]='!accept'>OK ENTENDI</button>
</div>