/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();

$mat-violet: (
  50: #893f55,
  100: #59122C,
  200: #2f0000,
  contrast: (
    50: white,
    100: white,
    200: white,
   
  )
);

//@import "./assets/my-theme.scss";
$theme-primary: mat-palette($mat-violet, 100);

$theme-accent: mat-palette($mat-violet, 50);

$theme-warn: mat-palette($mat-red);

$theme-theme: mat-light-theme(
    $theme-primary,
    $theme-accent, 
    $theme-warn
);

@include angular-material-theme($theme-theme);


html, body { height: 100%; }
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif; 
   background-color: rgb(255, 253, 251)
  }

.mat-card{
  margin: 5%;
}

hr.dashed{
    border-top: 1px dashed red;
}
