.text{
    text-align: center;
}

.question{
    text-align: center;
    margin-top: 3rem;

    p{
        font-weight: 500
    }

    button{
        margin-right: 1rem;
        border: 1px solid;   
        width: 10%     
    }
}